* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f6fa;
    color: #2f3640;
}

header {
    background: #273c75;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
}

footer {
    background: #dcdde1;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.table-placeholder {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #273c75;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #40739e;
}


.actions {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.pdf-button {
    display: inline-block;
    padding: 10px 20px;
    background: #273c75;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.pdf-button:hover {
    background: #40739e;
}

.pdf-placeholder {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

.pdf-download {
    margin-top: 20px;
    padding: 12px 25px;
    background: #273c75;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.pdf-download:hover {
    background: #40739e;
}


.days {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.day-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    background: #273c75;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 10px
rgba(0,0,0,0.15);
}

.day-card:hover {
    background: #40739e;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.logo a:hover {
    text-decoration: underline;
}